* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
} 


body {
    background-color: #222831;
}

header{
    height: 1024px;
}

nav { 
background-color:#222831;
height: 100px;
display: flex;
justify-content: space-between;
align-items: center;
margin-left: 80px;
margin-right: 80px;

max-width: 1440px;

 }

 nav ul li {
    display: inline-block;
    margin: 0 12px;
  }
  
  nav ul li a {

width: 86px;
height: 27px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
color: #EEEEEE;
  }

  .logo {
 width: 209px;
height: 36px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
color: #EEEEEE;
position: relative;
  }
.image-one {
position: absolute;
width: 557px;
height: 649.65px;
left: 930px;
top: 180px;
right: 300px;
}

.image-two {
    margin-bottom: 300px;
    margin-left: 80px;
}

h1 {
    width: 586px;
    height: Hug(192px);
    font-family: 'Poppins';
    font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 96px;
color: #EEEEEE;

}

.first-one {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 48px;

position: absolute;
width: 586px;
height: 287px;
left: 185px;
top: 260px;
    
} 

.second-one {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;
    
    width: 383px;
    height: 97px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.h1-two {
    width: 586px;
height: 192px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 96px;
color: #00ADB5;
}

.button-hire{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px 32px;
gap: 10px;

width: 136px;
background: #00ADB5;
border-radius: 24px;
color: #EEEEEE

}
.button-download {
    display: flex;
flex-direction: row;
align-items: center;
padding: 10px 32px;
gap: 10px;
color: #EEEEEE;
width: 213px;
height: 47px;
background: rgba(57, 62, 70, 0.75);
backdrop-filter: blur(2px);
border-radius: 24px;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}
.div-one {
    display: flex;
    align-items: center;
    width: 1440px;
    height: 1024px;
    justify-content: space-between;
}


a:active,
a:hover {
  background: none;
  color:#00ADB5;
   }

   .logo:active,
   .logo:hover {
    cursor: pointer;
    background: none;
    color:#00ADB5;
  }

  .image-one {
    cursor: pointer;
  }

  
  .image-two {
    cursor: pointer;
  }

  .button-hire {
    cursor: pointer;
  }

  .button-download {
    cursor: pointer;
  }

  hr {
    position: absolute;
width: 1600px;
height: 0px;
left: 0px;
top: 100px;
border: 1px solid rgba(238, 238, 238, 0.1);
  }
.hr-2 {
    position: absolute;
    width: 1600px;
    height: 0px;
    left: 0px;
    top: 1218px;
    border: 1px solid rgba(238, 238, 238, 0.1);
}
  .box {
position: absolute;
width: 100%;
max-width: 1440px;
height: 1000px;
left: -712px;
top: 0px;
border: 2px solid rgba(238, 238, 238, 0.1);
transform: rotate(90deg);
 }

   
.frame {
    position: absolute;
left: 458px;
top: 720px;

background: rgba(57, 62, 70, 0.75);
backdrop-filter: blur(4px);
}
.about {
    position: relative;
max-width: 1600px;
height: 1024px;
background-color: #00ADB5;
margin-bottom: none;
margin-right: solid 5px red;
margin-top:solid 5px red;
}

.about-one {
    margin-right: solid 2px red;
}